 header
 {
 	border:1px solid;
 	position:fixed;
 	top:0;
 	left:0;
 	right:0;
 	height: 11%;
 	font-size: 280%;
 	text-align:center;
 	padding-top:45px;
 	z-index: 1;
 	background:#76D7C4;

  }

  .first_border
  {
  	position:absolute;
  	right: 20%;
  	left:17%;

  	top:24%;
  	margin-bottom: 100px;
  	border:1px solid;
  	width:70%;
  	height:110%;
  	background:#76D7C4;
  	border-radius: 10px;
  	
  }

  body
  {
  	background:#A3E4D7;
  }
  .small_boxes
  {
  	border:1px solid;
  	border-radius:5px;
  	
  }
  fieldset
  {
  	margin:auto;
  	margin-top: 5%;
  	width:70%;
  	height: 500%;
  	border-radius:5px;
  }

  label
  {
  	display: inline-block;
  	width:100px;
  	font-size: 150%;
  	margin-top:1%;
  	
  }

  .legend_box
  {
  	border:1px solid;
  	border-radius:5px;
  	font-size: 150%;
  }

  .margin_left
  {
  	margin-left:10%;
  }
 

 .gender_text
 {
 	font-size: 150%;
 }


 #Qualification
 {
 	margin-left:50px;
 }

 .submit_button
 {
 	position: absolute;
 	left:50%;
 	margin-top:20px;
 	width: 30%;
 	height: 10%;
 }

 textarea
 {
 	width:50%;
 	height: 150px;
 	margin-left:10%;
 }